
{% extends 'blog/base.html' %} 
{% load static %}
{% block content %}


<div class="container">
  <div class="row">
    <div class="col-md-40 card mb-40  mt-40 left  top">
      <div class="card-body">
        <p class=" text-muted">Thanks for purchasing...</p>
        <h1 class="article-title">Daily earning method: step by step teaching!</h1>
        
        <p class="card-text article-content">I am glad that you have come this far... I swear I will make you rich by earning ₹2k-4k per day.
            You have to follow all the steps I am giving you to earn more & more. </p>

        <p class="card-text article-content">
        STEP:1
        You have to create a new instagram account with any name. For example 'earning_king', 'earn_best', etc.
        <br>
        STEP :2
        You will also have to add some followers in your new account(page). We give you one website which will give you followers and likes for your post in cheap rate. Details of website is in bottom of this tricks see those details.
        <br>
        STEP:3
        You have to creat post and stories like my page <a href="http://instagram.com/wan.rich10">wan.rich10</a>. Don’t Copy my contents make your own, then contact any promotional page like comedy pages or follow some pages. Then sell the tricks which I will give it to you later in this section, you have to sell like me at your own price.
        <br>
        STEP:4
        Then you have got message for tricks from followers of different pages like you saw my story and message me. When people see your page and stories they contact you for this tricks. Then you have to sell this tricks in ₹1000 (u can earn daily 2000-4000 easily)u get 3-4
        customers daily easily. This idea really works people enjoy your business. I am experiencing it.
        </p>

        
        <h5>How to get followers and likes to your page!</h5>
        <p class="card-text article-content">
        STEP:1
        Open website <a href="http://heartmedia.in">http://heartmedia.in</a> and create account on it. It is free. Then, log in with your username and passwords.
        <br>
        STEP:2
        After you log in. Find the services in menu. Click on the services and select the services like getting followers for instagram at the cheap rate.
        <br>
        STEP:3
        Then go to add funds and add some ₹ from ur paytm, paypal or any. When you click on add funds from paytm, you have to note down paytm transaction number or order Id and amount. Copy order id and amount and paste it to the fields and click on pay button. Then the money must be in your hearmedia account. 
        <br>
        STEP:4
        When you add successfully fund in website u can use any service just by ordering the services. Then you will successfully get new followers and likes on your posts!

        </p>

        <h5>The Tricks are here!</h5>
        <p class="card-text article-content">
            I will give you the links to the pages of where you can get the images for uploading to your stories and payment proofs. Use them carefully. Download the files, and keep in the stories of your new account, like the payment proof.. And post the posts to your insatgram post wall.
            <br>
            Posts for uploading to your New <a href="https://instagram.com/wan.rich10">Instagram</a> Account: <a href="https://drive.google.com/drive/u/0/folders/1OTCiA4PVrVtKJ0T0neCfb8cgD8UfdsMm">Click Here</a> to redirect to the page.
            Payment Proof to upload to your stories: <a href="https://drive.google.com/drive/u/0/folders/1e9pmjQDYBzLqEh8Xkth0xjOmKEVB19gh">Click Here!</a>
        </p>   
        
        <h5>Tricks Setup & Begin Project</h5>
        Link: <a href="https://drive.google.com/drive/u/0/folders/1dnsLftmK-zJeqzcPtOW72tLAELpv1vcP">WATCH THE VIDEO</a>
      <br>
    <h5>The Art Of Selling</h5>
    <p>Link: <a href="https://drive.google.com/drive/u/0/folders/1-4YpxrUBE6YcfkUbcGtTO4WmLgqC22iU">WATCH THE VIDEO</a></p>
  <br>
  <h5>Follow Me On <a href="https://instagram.com/wan.rich10">Instagram</a>a></h5>
  

      </div>
    </div>
  </div>
</div>

{% endblock content %}