{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
  <h1>EARN MONEY ₹2k -4k DAILY!</h1>
  <p>In this method, we will give you the tricks to earn ₹2k - 4k everyday.</p>
  <img class="home-img" src="{% static 'img/36.jpg' %}" width="200px">
  <img class="home-img" src="{% static 'img/49.jpg' %}" width="200px">
  <img class="home-img" src="{% static 'img/champ.jpg' %}" width="200px">
  <img class="home-img" src="{% static 'img/investing.jpg' %}" width="200px">
  <img class="home-img" src="{% static 'img/newcomer.jpg' %}" width="200px">
  <img class="home-img" src="{% static 'img/onemore.jpg' %}" width="200px">
  <img class="home-img" src="{% static 'img/welcome.jpg' %}" width="200px">
  <br>
  <br>
  <p>The proof are all here! Beleive me & do the work! You need to focus on the work! <a href="{% url 'login' %}">Logon Now</a> and DO THE WORK!</p>
  {% endblock %}
